
html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: -2%;
  padding: 2%;
}


input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

#hide-listings, #show-listings {
  width: 10%;
margin: .3%;

}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

#map {
  bottom: 1%;
  height: 60%;
  position: absolute;
  margin: 1%;
  width: 56%;
  padding-right: 30%
}

.text {
  font-size: 12px;
}

#toggle-drawing {
  width: 27%;
  position: relative;
  margin-left: 10px;
}

#zoom-to-area-text {
  position: relative;
  width: 70%;
}

#zoom-to-area {
  width: 24%;
}
